.our-trip {}

.our-trip__inner {
    display: flex;
    justify-content: flex-end;
}

.our-trip__container {
    height: 100%;
}

.our-trip__content {
    padding-right: 270px;
}

.our-trip__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.our-trip__title {
    margin-bottom: 50px;
    & span {
        margin-left: 240px;
    }
}

.our-trip__list {
    font-size: 24px;
    margin: 5px 0px 20px;
    line-height: 28px;
    & li:first-child {
        margin-bottom: 20px;
        font-weight: 700;
    }
}

.our-trip__slider {
    position: relative;
    width: 50%;
    &:focus {
        outline: none;
    }
}

.our-trip__slider-item {
    & img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}